body {
    background-color: #581e3e;
    padding: 0;
    margin: 0;
}

#teacherPage {
    display: none;
}

#studentPage {
    display: none;
}

#pageTitleBanner {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('studentBannerBackground.jpg');
    border-bottom: 5px solid #251e3e;
}

#pageTitleText {
    font-size: 42px;
    background-color: #651e3e;
    border-top: 5px solid #251e3e;
    border-bottom: 5px solid #251e3e;
    width: 100%;
    font-family: titleFont;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: aliceblue;
}

#studentNavBar {
    width: 100%;
    margin: 0;
    padding: 0;
}

#studentNavBar input {
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding: 15px;
    border: none;
    font-family: navFont;
    margin: 0;
    border-radius: none;
    cursor: pointer;
    display: block;
    float: left;
    background-color: #851e3e;
    color: aliceblue;
}

#studentNavBar input:hover:not(.active) {
    background-color: coral;
}

#studentNavBar input.active {
    background-color: coral;
}

#teacherNavBar input {
    width: 100%;
    font-size: 32px;
    font-family: navFont;
    text-align: center;
    border-radius: none;
    padding: 15px;
    border: none;
    margin: 0;
    cursor: pointer;
    display: block;
    color: aliceblue;
    float: left;
    background-color: #851e3e;
}

#teacherNavBar input:hover:not(.active) {
    background-color: coral;
}

#teacherNavBar input.active {
    background-color: coral;
}

#bandInstrumentsNavBar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#bandInstrumentsNavBar input {
    width: 50%;
    font-size: 32px;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    border-radius: none;
    border: none;
    font-family: navFont;
    margin: 0;
    cursor: pointer;
    display: block;
    float: left;
    background-color: #851e3e;
}

#bandInstrumentsNavBar input:hover:not(.active) {
    background-color: coral;
}

#bandInstrumentsNavBar input.active {
    background-color: coral;
}

#pageText {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    overflow: hidden;
    padding-bottom: 50px;
    background-color: beige;
}

#pageText h1 {
    font-size: 48px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 5px coral;
    color: white;
    background-color: #851e3e;
}

#pageText h2 {
    font-size: 42px;
    text-align: center;
}

#pageText h3 {
    font-size: 38px;
    text-align: center;
}

#pageText p {
    text-indent: 50px;
    margin-bottom: 15px;
    line-height: 2;
    font-size: 32px;
}

#pageText input {
    font-size: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    margin-top: 15px;
    font-family: navFont;
    background-color: #851e3e;
    border: 2.5px solid coral;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-indent: none;
    text-align: center;
    transition: 0.5s;
}

#getSheetMusic {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    margin-top: 15px;
    font-family: navFont;
    background-color: #851e3e;
    border: 2.5px solid coral;
    color: white;
    float: right;
    text-decoration: none;
    cursor: pointer;
    text-indent: none;
    text-align: center;
    transition: 0.5s;
}

#pageText ol li {
    font-size: 24px;
}

#pageText img {
    display: none;
}

@font-face {
    font-family: titleFont;
    src: url(titleFont.ttf);
}

@font-face {
    font-family: navFont;
    src: url(navFont.otf);
}