body {
    background-color: #581e3e;
    padding: 0;
    margin: 0;
}

#teacherPage {
    display: none;
}

#studentPage {
    display: none;
}

#pageTitleBanner {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('studentBannerBackground.jpg');
    border-bottom: 5px solid #251e3e;
}

#pageTitleText {
    font-size: 52px;
    background-color: #651e3e;
    border-top: 5px solid #251e3e;
    border-bottom: 5px solid #251e3e;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: aliceblue;
}

#studentNavBar {
    width: 100%;
    margin: 0;
    padding: 0;
}

#studentNavBar input {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border: none;
    margin: 0;
    border-radius: none;
    cursor: pointer;
    display: block;
    float: left;
    background-color: #851e3e;
    color: aliceblue;
}

#studentNavBar input:hover {
    background-color: #651e3e;
}

#teacherNavBar input {
    width: 100%;
    font-size: 24px;
    text-align: center;
    border-radius: none;
    padding: 15px;
    border: none;
    margin: 0;
    cursor: pointer;
    display: block;
    color: aliceblue;
    float: left;
    background-color: #851e3e;
}

#teacherNavBar input:hover {
    background-color: #651e3e;
}

#bandInstrumentsNavBar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#bandInstrumentsNavBar input {
    width: 25%;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    color: aliceblue;
    border-radius: none;
    border: none;
    margin: 0;
    cursor: pointer;
    display: block;
    float: left;
    background-color: #851e3e;
}

#bandInstrumentsNavBar input:hover {
    background-color: #651e3e;
}

#pageText {
    visibility: hidden;
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: beige;
}

#pageText h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 100px;
}

#pageText p {
    text-indent: 15px;
    margin-bottom: 15px;
    font-size: 32px;
}

#pageText ol li {
    font-size: 32px;
}

#pageText img {
    display: none;
}