body {
    background-color: #581e3e;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 25px;
}

#pageTitleBanner {
    width: 100%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('studentBannerBackground.jpg');
    border-bottom: 5px solid #251e3e;
}

#pageTitleText {
    font-size: 36px;
    font-family: titleFont;
    background-color: #651e3e;
    border: 5px solid #251e3e;
    border-radius: 25px;
    max-width: 75%;
    margin-left: 12.25%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: aliceblue;
}

#studentNavBar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#studentNavBar input {
    font-family: navFont;
    width: 20%;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 0px;
    margin: 0;
    cursor: pointer;
    display: block;
    border-radius: none;
    float: left;
    background-color: #851e3e;
    color: aliceblue;
    transition: 0.3s;
}

#studentNavBar input:hover:not(.active) {
    background-color: #651e3e;
}

#studentNavBar input.active {
    background-color: coral;
    color: black;
}

#teacherNavBar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#teacherNavBar input {
    width: 50%;
    font-size: 24px;
    font-family: navFont;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 0px;
    margin: 0;
    border-radius: none;
    cursor: pointer;
    display: block;
    color: aliceblue;
    float: left;
    background-color: #851e3e;
    transition: 0.3s;
}

#teacherNavBar input:hover:not(.active) {
    background-color: #651e3e;
}

#teacherNavBar input.active {
    background-color: coral;
    color: black;
}

#bandInstrumentsNavBar {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#bandInstrumentsNavBar input {
    width: 50%;
    font-size: 24px;
    font-family: navFont;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 0px;
    margin: 0;
    border-radius: none;
    cursor: pointer;
    display: block;
    color: aliceblue;
    float: left;
    background-color: #851e3e;
    transition: 0.3s;
}

#bandInstrumentsNavBar input:hover:not(.active) {
    background-color: #651e3e;
}

#bandInstrumentsNavBar input.active {
    background-color: coral;
    color: black;
}

#pageText {
    width: 60%;
    overflow: hidden;
    margin-left: 15%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: beige;
    border: 5px solid #851e3e;
}

#pageText h1 {
    border: solid coral 5px;
    font-size: 38px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #851e3e;
    color: white;
    text-align: center;
}

#pageText h2 {
    font-size: 32px;
    text-align: center;
}

#pageText h3 {
    font-size: 28px;
    text-align: center;
}

#pageText p {
    text-indent: 50px;
    line-height: 2;
    margin-bottom: 25px;
    font-size: 24px;
}

#pageText ol li {
    font-size: 24px;
}

#pageText img {
    display: block;
    width: 50%;
    margin-left: 25%;
}

#pageText img.teacherPic {
    width: 25%;
    margin-left: 0;
    border: 5px coral groove;
    margin-top: 10px;
    margin-bottom: 25px;
}

#pageText input {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    margin-top: 15px;
    font-family: navFont;
    background-color: #851e3e;
    border: 2.5px solid coral;
    color: white;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    text-indent: none;
    text-align: center;
    transition: 0.5s;
}

#pageText input:hover {
    background-color: #651e3e;
}

#getSheetMusic {
    float: right;
}

@font-face {
    font-family: titleFont;
    src: url(titleFont.ttf);
}

@font-face {
    font-family: navFont;
    src: url(navFont.otf);
}